#video_box{
    float: left;
    width: 0px;
    height: 0px;
}
#video_overlays {
    position:absolute;
    float:left;
    left: -40em !important;
    top: -5.5em !important;
    right: 5em;
    width: 100%    !important;
    height: 500px   !important;
    background-color: #ffffff;
    z-index: 300000;
}

#c {
  width: 100%    !important;
  height: 500px   !important;

    -webkit-filter: blur(10px); /* Safari */
    filter: blur(8px);
}

#v {
    position:absolute;
    float:left;
    left: -340em !important;
    top: 10em !important;
    right: 5em;
    width: 100%    !important;
    height: 500px   !important;
    background-color: #ffffff;
    z-index: -1;
}